@page
@model DotnetAngular.Areas.Identity.Pages.Account.Post.IndexModel
@{
    Layout = "_Layout";
}
@*<div class="row mb-3 ">
    <a class="btn btn-primary float-left"  asp-page="./Add">Thêm Post</a>
    <partial name="_StatusMessage" model="@Model.StatusMessage" />

</div>*@
<div class="card-header">
    <button data-title="Thêm Post" data-link="/Identity/Account/Post/Add" type="button" class="btn btn-primary float-right" data-bs-toggle="modal" data-bs-target="#modalform"
            data-whatever="@@mdo">
        Thêm Post
    </button>
    <partial name="_StatusMessage" model="@Model.StatusMessage" />
</div>
<div class="card-body">

<div class="row table-responsive">
<table class="table table-striped">
    <tr>
        <th>Title</th>
        <th>CreatedAt</th>
        <th>Actions</th>
    </tr>
    @foreach (var post in @Model.posts)
    {
        <tr>
            <td>@post.Title</td>
            <td>@post.Createdat</td>
            <td>
                   <a  asp-route-id="@post.Id"  class="btn btn-primary btn-sm"
                        asp-page="./Add">
                        Cập nhật post
                    </a>
                        <button data-title="Thêm Post" data-link="/Identity/Account/Post/Add?id=@post.Id" type="button" class="btn btn-primary float-right" data-bs-toggle="modal" data-bs-target="#modalform"
                        data-whatever="@@mdo">
                Cập nhật post
                 </button>
                <a  asp-route-id="@post.Id" class="btn btn-primary btn-sm"
                     asp-page="./Delete">
                    xóa
                </a>
            </td>
        </tr>

    }
</table>
    @{
        Func<int?, string> generateUrl = (int? _pagenumber) =>
        {
            return Url.Page("./Index", new { pageNumber = _pagenumber });
        };

        var datapaging = new
        {
            currentPage = Model.Pagenumber,
            countPages = Model.Total,
            generateUrl = generateUrl
        };

    }
    <partial name="_Paging" model="@datapaging" />
    <paging total-records="Model.Total"
            page-size="int.Parse(Model.Take.ToString())"
            page-no="Model.Pagenumber"
            query-string-value="@(Request.QueryString.Value)">
    </paging>
</div>
</div>
