@page
@model DotnetAngular.Areas.Identity.Pages.Account.Slide.IndexModel
@{
    string Active(bool active)
    {
        return active ? "Có" : "Không";
    }
}
<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="@Model.StatusMessage" />
<div class=" mb-3">
    <a class="btn btn-primary" asp-page="./Add">Thêm Slide</a>

</div>

<table class="table table-striped">
    <tr>
        <th>Ảnh</th>
        <th>Hiên thị</th>
        <th>Actions</th>
    </tr>
    @foreach (var slide in @Model.slides)
    {
        <tr>
            <td><img style="max-height:auto; max-width:200px" src="/@slide.Urlimage" /></td>
            <td>@Active(slide.Active)</td>
            <td>
                <a asp-route-id="@slide.Id" class="btn btn-primary btn-sm"
                        asp-page="./Add">
                        Cập nhật 
                    </a>
                <a asp-route-id="@slide.Id" class="btn btn-primary btn-sm"
                     asp-page="./Delete">
                    xóa
                </a>
            </td>
        </tr>

    }
</table>

@{
    Func<int?, string> generateUrl = (int? _pagenumber) =>
    {
        return Url.Page("./Index", new { pageNumber = _pagenumber });
    };

    var datapaging = new
    {
        currentPage = Model.Pagenumber,
        countPages = Model.Total,
        generateUrl = generateUrl
    };

}
<partial name="_Paging" model="@datapaging" />
<paging total-records="Model.Total"
        page-size="int.Parse(Model.Take.ToString())"
        page-no="Model.Pagenumber"
        query-string-value="@(Request.QueryString.Value)">
</paging>